
.profile{
    font-weight: bolder;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.profile-p{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 40px;
}
/* .div.profile-p{
    word-wrap: normal;
} */
.technologies{
    font-weight: bolder;
    font-size: 16px;
    padding-left: 20px;
}
.tech{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
 
}
.font-weight-normal{
    font-size: 12px;
}
.Education{
    font-weight: bolder;
    font-size: 16px;
    padding-left: 20px;
}
.semester{
    padding-left: 20px;
    font-size: 16px;
}
.semester1{
    padding-left: 20px;
    font-size: 14px;
}
.space-1{
    padding-left: 92em;
    font-size: 14px;
}

.space-2{
    padding-left: 90em;
    font-size: 14px;
}
.space-3{
    padding-left: 90.8em;
    font-size: 14px;
}
.space-4{
    padding-left: 87em;
    font-size: 14px;
}

.left{
    padding-left: 30px;
    padding-top: 30px;
  
    flex: 1;
   
   
    background-color: aquamarine;
    width: 250px;
    height: 800px;
}
.c{
    margin-bottom: 0;
}

.right-R{
   
    background-color:white;
    width: 1500px;
    height: 880px;
    margin-left: 30px;
}
.left-L{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bolder;
    background-color: #333333;
    width: 220px;
    height: 1020px;
}

.side{
    display: flex;
}
img {
    border-radius: 50%;
    margin-left: 10%;
  }
  
.label_color{
   color:white;
   background-color:  rgb(107, 182, 182);
   font-weight: bolder;
   font-size: 12px;
   width: 110%;

}
.side-1{
    color: aliceblue;
    font-size: 14px;
    
     
}

.sideName{
    color: aliceblue;
    font-size: 18px;  
    padding-left: 10%;
}
.Education{
    color:rgb(235, 214, 214);
   
   
   font-size: 12px;
}
.About_Me{
    color: black;
    font-size: 18px;
    font-weight: bold;
  
}
.About_Me1{
    color: rgb(2, 10, 17);
    font-size: 14px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.image-round{
    padding-left: 20px;
}

ul li {
    padding-left: 2rem;
  
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }

  p li{
    line-height: 1em;
    font-weight: 700;
  }
  
  p span{
    line-height: 0.5em;
  
    background-position: 0 0;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
  }
  .vertical1{
    /* border-left: 6px solid aquamarine;
    height: 40px;
    /* position: absolute; */
    border: 2px solid #000000;
padding: 0 60px;
color: #000000;
/* font-size: 34px; */
outline: none;
border-radius: 50px 0;

transform: rotate(45deg); 
line-height: 18px;
width: 0%;

display: inline-block;
border-bottom: 4px solid  rgb(107, 182, 182);
position: absolute;
top: 0;
right: 0
  }

  .vertical2{
 
border: 2px solid #000000;
padding: 0 60px;
color: #000000;
outline: none;
border-radius: 50px 0;

transform: rotate(45deg); 
line-height: 18px;
width: 3%;
display: inline-block;
border-bottom: 4px solid rgb(107, 182, 182);
margin-right: 1%;
position: absolute;
top: 0;
right: 0;

  }

  
  .vertical3 {
    
border: 2px solid #000000;
padding: 0 3cap;
color: #000000;

outline: none;
border-radius: 50px 0;

transform: rotate(45deg); 
display: inline-block;
border-bottom: 4px solid rgb(107, 182, 182);
width: 9%;
height: 0%;            
position: absolute;
top: 0;
right: 0;
 }


    .triangle-7{
        bottom:250px;
        right:0;
        margin-bottom:20px;
        border-bottom: 80px solid #333333; 
        border-left: 125px solid transparent;
     
       
      }

 